[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
python-decouple = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
Pillow = "*"
django-taggit = "*"
gunicorn = "*"
django-heroku = "*"
"autopep8" = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3.6"
