* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', 'Times New Roman', Times, serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}


a, p, input, ul, li, button, label {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 1.6rem;
}

a:hover {
  cursor: pointer;
}

p, input, button, label {
  font-size: 1.4rem;
}

button {
  padding: 1rem 0.5rem;
  margin: .5rem 0;
  min-width: 90px;
  background: #7892EA;
  border: none;
  border-radius: 4px;
}

button:hover {
  background: #B0C9FF;
  cursor: pointer;
}

.App {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0 auto;
  text-rendering: geometricPrecision;
  background: #C7D5E2;
  min-height: 100vh;
}

.App .company-register-link {
  display: flex;
  justify-content: flex-end;
}

.App .company-register-link > a {
  display: flex;
  justify-content: space-between;
  margin: 15px 30px;
}

.main {
  display: flex;
  width: 100%;
  min-height: 95vh;
  padding: 2% 3%;
}

.form {
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
}

.form input {
  margin: 0 0 1rem;
  padding: 7px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(120, 146, 184, 0);
  background:rgba(22, 122, 165, 0.06);
}

.form input:focus {
  outline: none;
  background: white;
  /* border-bottom: 1px solid #7892EA; */
}

.form input[type=checkbox] {
  margin: 1rem;
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.45);
}

.form h3 {
  margin: 1rem;
}

.form button {
  align-self: flex-end;
}

.message {
  position: absolute;
}

.App .logged-out-heading {
  display: flex;
  flex-direction: row;
}
.App .logged-out-heading h1 {
  padding-right: 150px;
  color: #665CBF;
  font-size: 4.8rem;
  text-shadow: 2px 2px 4px#FFFFFF;
}
.App .logged-out-heading h2 {
  margin-top: 20px;
  padding-right: 600px;
  color: black;
  text-shadow: 2px 2px 4px rgba(96,76,176);
}

/* .tooltip {
  background: white;
  border-radius: 4px;
  padding: 0.25rem 0.4rem;
  border: 1px solid #7892EA;
}

.tooltip::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  top: -6px;
  left: 23px;
  background: #FFF;
  border-top: 1px solid #7892EA;
  border-left: 1px solid #7892EA;
  transform: rotate(45deg);
} */