* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', 'Times New Roman', Times, serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}


a, p, input, ul, li, button, label {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 1.6rem;
}

a:hover {
  cursor: pointer;
}

p, input, button, label {
  font-size: 1.4rem;
}

button {
  padding: 1rem 0.5rem;
  margin: .5rem 0;
  min-width: 90px;
  background: #7892EA;
  border: none;
  border-radius: 4px;
}

button:hover {
  /* background: #B0C9FF; */
  cursor: pointer;
}

.App {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  text-rendering: geometricPrecision;
  background: #C7D5E2;
  min-height: 100vh;
}

.nav-wrapper {
  width: 100%;
}

/* styling for pathname '/' */

.home-navigation {
  margin: 0 auto;
  max-width: 1400px;
}

.home-navigation > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.home-navigation h1,
.home-navigation h3 {
  margin: 15px 20px;
}

.home-navigation h1 {
  color: #604CB0;
  font-weight: bold;
  letter-spacing: -0.3px;
}

.home-navigation h3 {
  color: rgb(49, 44, 75);
  font-weight: bold;
  letter-spacing: -0.2px;
}

.home-navigation a {
  margin: 15px 20px;
}

/* Sytling for pathnames '/signin' and '/company' */

.landing {
  display: flex;
  width: 100%;
}

.landing-title {
  color: #604CB0;
  font-size: 7rem;
  font-weight: bold;
  position: relative;
  letter-spacing: -0.3px;
  margin: 0;
  text-shadow: 0 0 20px rgba(245, 245, 245, 0.6);
}

.landing-copy {
  color: rgb(49, 44, 75);
  font-weight: bold;
  font-size: 3.2rem;
  position: relative;
  letter-spacing: -0.2px;
}

.landing-form {
  padding-top: 45px;
  margin-left: 10px;
}

.landing a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main div wrapper for bottom half of app */

.main {
  display: flex;
  width: 100%;
  margin: 0 auto;
  min-height: 90vh;
  padding: 0 3%;
  max-width: 1250px;
}

/* Global Form & input styling */
/* Can override in component specific css files */

.form {
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 340px;
  min-width: 280px;
  border-radius: 4px;
}

.form input {
  margin: 0 0 1rem;
  padding: 20px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(120, 146, 184, 0);
  background:rgba(22, 122, 165, 0.06);
}

.form input:focus {
  outline: none;
  background: white;
}

.form input[type=checkbox] {
  margin: 1rem;
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.45);
}

.form h3 {
  margin: 1rem;
}

.form button {
  align-self: flex-end;
}

/* Message positioning */

.message {
  position: absolute;
}

/* Utility classes */

.whitespace {
  flex-grow: 1;
}

.flex {
  display: flex;
}

/* CSS Boneyard */

/* 
.App .logged-out-heading {
  display: flex;
  flex-direction: row;
}
.App .logged-out-heading h1 {
  padding-right: 150px;
  color: #665CBF;
  font-size: 4.8rem;
  text-shadow: 2px 2px 4px#FFFFFF;
}
.App .logged-out-heading h2 {
  margin-top: 20px;
  padding-right: 600px;
  color: black;
  text-shadow: 2px 2px 4px rgba(96,76,176);
} */

/* .tooltip {
  background: white;
  border-radius: 4px;
  padding: 0.25rem 0.4rem;
  border: 1px solid #7892EA;
}

.tooltip::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  top: -6px;
  left: 23px;
  background: #FFF;
  border-top: 1px solid #7892EA;
  border-left: 1px solid #7892EA;
  transform: rotate(45deg);
} */