.billing {
    display: flex;
    width: 100%;
}

.billing div {
    display: flex;
}

.billing .checkout-card {
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    background: white;
    margin: 10px;
    border-radius: 4px;
    padding: 20px;
    max-height: 400px;
}