.billing {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Checkout Card Container */

.checkout-card-container {
    flex: 1 1;
    margin: 0 5px;
    position: relative;
    max-width: 300px;
}

.checkout-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height: 340px;
    background: white;
    margin: 10px;
    border-radius: 4px;
    padding: 20px;
}

.checkout-card h1,
.checkout-card h3 {
    margin: 0;
}

.checkout-card p {
    margin-top: 15px;
}

.checkout-card button {
    align-self: flex-end;
}

/* Active product */

.active-product {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.active-product .anticon-close {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 18px;
}

.active-product .anticon-check-circle {
    font-size: 24px;
    color: #52C41A;
    align-self: flex-end;
}

/* Stripe form */

.checkout-form-container {
    flex: 1 1;
    margin: 0 15px;
    padding: 10px;
    max-width: 340px;
}

.checkout-form {
    margin-top: 20px;
}

.checkout-form button {
    margin-top: 25px;
    align-self: flex-end;
}

/* CSS Transitions classes */

.active-product-fade-enter {
    opacity: 0;
}

.active-product-fade-enter-done {
    opacity: 0;
}

.checkout-card-container h2 {
    position: absolute;
    top: 37px;
    left: -110px;
}