.billing {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-card {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background: white;
    margin: 10px;
    border-radius: 4px;
    padding: 20px;
}

.checkout-card-container {
    flex: 1 1;
    margin: 0 5px;
    position: relative;
    max-width: 300px;
}

.checkout-form-container {
    flex: 1 1;
    margin: 0 15px;
    padding: 10px;
    max-width: 340px;
}

.active-product {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.active-product .anticon-close {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 18px;
}

.checkout-card h1,
.checkout-card h3 {
    margin: 0;
}

.checkout-form {
    margin-top: 20px;
}

.checkout-form button {
    margin-top:  25px;
    align-self: flex-end;
}