.company-landing {
    display: flex;
    width: 100%;
}

.company-landing > div:first-child {
    display: flex;
    flex: 1 1;
    flex-flow: column wrap;
    align-items: center;
}

.company-landing h1 {
    top: 100px;
}

.company-landing h2 {
    top: 120px;
}

.company-landing .landing-form {
    flex: 1 1;
}