.company-job-list-container {
    margin: 10px;
    padding: 10px;
    width: 510px;
    background: white;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.company-job-list-container .ant-list p,
.company-job-list-container .ant-list h3 {
    margin: 0;
}

.company-job-list-container .ant-list-bordered .ant-list-item {
    padding-right: 0;
}

.company-job-list-container .ant-list-header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}