.company-landing {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.hero-div-company {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 500px;
    background-image: url("../assets/hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.company-landing > div:first-child {
    display: flex;
    flex: 6 1;
    flex-flow: column wrap;
    align-items: center;
}

.company-landing h1 {
    top: -25px;
}

.company-landing h2 {
    top: 20px;
}

.company-landing .landing-form {
    margin-top: 80px;
    flex: 2 1;
}