@import '~antd/dist/antd.css';

form {
    text-align: center;
    margin: 1rem;	  
    display: flex;	   ;
    flex-flow: column wrap;	  
    width: 100%;	  
    max-width: 300px;	   
  }

.profile {
    width: unset;
    padding: 24px;
}

.avatar-uploader > .ant-upload {
    width: 180px;
    height: 100px;
    flex-grow: 1; 
    float: right;
  }