/* Ant Design & Override import */
/* @import 'antd/dist/antd.css'; */
@import './AntDesignOverride.css';

/* Global Styles */
@import './App.css';

/* Component Styles */
@import './Account.css';
@import './Billing.css';
@import './CheckoutForm.css';
@import './CompanyAccount.css';
@import './CompanyJobBalance.css';
@import './CompanyJobList.css';
@import './Dashboard.css';
@import './Job.css';
@import './JobList.css';
@import './JobPost.css';
@import './JobPreview.css';
@import './Landing.css';
@import './LogoutAll.css';
@import './Login.css';
@import './Navigation.css';
@import './NoMatch.css';
@import './Search.css';
@import './Tag.css';