.jobs-list-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: white;
    /* box-shadow: 0px 0px 20px 2px black; */
}
.jobs-list {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 2;
}

.jobs-list button {
    margin: 10px 10px;
    width: 10px;
}

.jobs-list .anticon {
    font-size: 20px;
    color: white;
}