.job-preview {
    display: flex;
    align-items: baseline;
}

.job-preview * {
    margin: 2% 2%;
}



hr {
    margin: 0 auto;
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 98%;
}

hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}