.job-post {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.job-post form .flex  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.job-post form textarea {
    min-height: 100px;
}

.job-post Button {
    height: 10%;
    width: 100%;
    font-size: 4rem;
}