.hero-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    background-image: url("../assets/hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-div > h1 {
    top: -48px;
}

.hero-div > h2 {
    top: 28px;
}

.form-container {
    width: 50%;
    margin-top: 200px;
}