.nav-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background: white;
    margin-bottom: 10px;
}

.nav-bar > * {
    margin: 2% 2% 12px;
}

.nav-bar .anticon svg {
    font-size: 24px;
}

.nav-bar .ant-dropdown-link {
    position: relative;
    top: 5px;
}

/* Dropdown is not a child of nav, instead at root because of ant-d's choices,
which means all dropdown menu items must be styled the same */
.ant-dropdown-menu {
    margin-top: 3px;
}

.ant-dropdown-menu-item {
    padding: 10px 25px;
}

.ant-dropdown-menu-item svg {
    font-size: 16px;
}