.tags {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    min-height: 50px;
}

.tags .ant-tag {
    padding: 5px 12px;
    margin: 5px 10px 5px 0;
    font-size: 1.4rem;
    height: unset;
}

.tags input.ant-input {
    padding: 4px 11px;
    margin: 0 10px 5px 0;
    font-size: 1.4rem;
    width: 100px;
    height: 30px;
}