{% extends './base.html' %}
{% block content%}
    <div class="container">
        <h3>Select a membership</h3>
                <div class="row">
                    {% for object in object_list %}
                    <div class="col-sm-4 col-md-4">
                        <h2>{{ object.membership_type }}</h2>
                        <p>Price: ${{ object.price }}<small>/month</small></p>
                        <p>{{ object.plan_description }}</p>
                        {% if object.membership_type != 'Free' %}
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {% if object.membership_type != current_membership %}
                                <button class="btn btn-warning">Select</button>
                            {% else %}
                                <small>This is your current membership</small>
                            {% endif %}
                            <input type="hidden" name="membership_type" value="{{ object.membership_type }}"></input>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
    </div>
{% endblock content %}